.newDiv
    
    {
        display:inline-block;
         width:20px;
         margin-top:20px;
         background:red;
         border-style: solid;
         border-color: white;
         vertical-align:bottom;
         text-align: bottom;
    }