

.ContainerHistogram{
    display:flex;
    align-items: flex-end;
}

.Column
    
    {
        display:flex;
         width:30px;
         background:rgb(219, 30, 30);
         align-items:center;
         justify-content: center;
         margin:10px 10px 0px 0px;     
    }

